* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}


/* STRUTTURA BASE */

.main-container {
  display: flex;
}

aside {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #B3B3B3;
}

main {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main header, main footer, aside header {
height: 80px;
background-color: #EAEAEA;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 10px 0;
}


/* HEADER  */

header .contact-img, .contact-list .contact-img {
   display: flex;
   align-items: center;
   padding-left: 10px;
}

.contact-img img {
  height: 65px;
  border-radius: 50%;
  margin-right: 5px;
}

header .icon-nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-width: 10%;
   font-size: 1.3rem;
   color: #B3B3B3;
}
aside header .icon-nav{
  min-width: 25%;
}

/* PARTE CONTATTI */

.contact-list {
    height: calc(100% - 80px);
}

.contact-list .contact , .contact-list .notification, .search{
  padding: 15px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #B3B3B3;
}

.contact-list .contact {
  justify-content: space-between;
}
.contact-list .notification {
  justify-content: flex-start;
  padding-left: 15px;
}
.contact-list .notification i {
  border-radius: 50%;
  padding: 20px;
  background-color: #8EDAFC;
  margin-right: 5px;
  color: #fff;
  font-size: 1.35rem;
}

.last-msg-time {
  align-self: flex-start;
  font-weight: 300;
  color: #B7B9BB;
}

.search {
  height: 60px;
  padding: 5px 10px;
  text-align: center;
  background-color: #EAEAEA;
}
.search input {
  width: 90%;
  height: 100%;
  border: 1px solid #B7B9BB;
  border-left: none;
}
.search i {
  width: 10%;
  background-color: #fff;
  padding: 15.5px 13px;
  border: 1px solid #B7B9BB;
  border-right: none;
  color: #B7B9BB;
}


/* PARTE CHAT */
 #chat-main {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-end;
   width: 100%;
   padding: 1rem;
   height: calc(100% - 140px);
   background-image: url("../img/wallpaper.png");
 }
.sent-message {
  background-color: #D5F9BA;
  padding: 5px;
  margin: 5px 0;
  font-size: 1.2rem;
  border-radius: 5px;
}

/* FOOTER */

main footer {

  font-size: 1.3rem;
  color: #6A7376;
}
main footer .emoji, main footer .record {
  width: 5%;
  text-align: center;
}
main footer .input {
  height: 100%;
  width: 90%;
}

main footer #message {
  height: 100%;
  width: 90%;
  border: none;
  border-radius: 5px;
  text-align: right;
  padding: 0 10px;

}
main footer button {
  height: 100%;
  width: 8%;
}
