* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #DADBD3;
  display: flex;
  width: 100vw;
  height: 100vh;

  max-width: 100vw;
  max-height: 100vh;

}


/* STRUTTURA BASE */
.green-banner{
  background-color: #009688;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 15vh;

}
.main-container {
  display: flex;
  width: 90%;
  height: 95%;
  margin: auto;
  border: solid 1px #B3B3B3;

}

aside {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #B3B3B3;
  background-color: #fff;
}

main {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main header, main footer, aside header {
height: 80px;
background-color: #EAEAEA;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 10px 0;
}


/* HEADER  */

header .contact-img, .contact-list .contact-img {
   display: flex;
   align-items: center;
   padding-left: 10px;
}

.contact-img img {
  height: 65px;
  border-radius: 50%;
  margin-right: 5px;
}

header .icon-nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-width: 15%;
   font-size: 1.3rem;
  padding-right: 20px;
}

header .icon-nav i {
  color: #B3B3B3;
  cursor: pointer;
  transition: color 0.3s;
}
header .icon-nav i:hover {
   color: #6A7376;
}
aside header .icon-nav{
  min-width: 30%;
}

/* PARTE CONTATTI */

.contact-list {
    height: calc(100% - 80px);
    overflow-y: auto;
}

.contact-list span , header span{
  color: #B3B3B3;
  font-weight: bold;
  font-size: 0.9rem;
}

.contact-list .contact , .contact-list .notification, .search{
  padding: 15px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #B3B3B3;
}

.contact-list .contact {
  justify-content: space-between;
  transition: background-color 0.3s;
  cursor: pointer;
}

.contact-list .contact.active{
background-color: #E9EBEB;
}

.contact-list .contact:hover {
  justify-content: space-between;
  background-color: #E9EBEB;
}
.contact-list .notification {
  justify-content: flex-start;
  padding-left: 15px;
}
.contact-list .notification i {
  border-radius: 50%;
  padding: 20px;
  background-color: #8EDAFC;
  margin-right: 5px;
  color: #fff;
  font-size: 1.35rem;
}

.last-msg-time {
  align-self: flex-start;
  font-weight: 300;
  color: #B7B9BB;
}

.search {
  height: 50px;
  padding: 5px 10px;
  text-align: center;
  background-color: #EAEAEA;
}
.search input {
  width: 90%;
  height: 100%;
  border: 1px solid #B7B9BB;
  border-left: none;
  font-size: 1rem;
}
.search i {
  width: 10%;
  background-color: #fff;
  padding: 10.5px 13px;
  border: 1px solid #B7B9BB;
  border-right: none;
  color: #B7B9BB;
}


/* PARTE CHAT */
 .chat-main {
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-end;
   width: 100%;
   padding: 1rem;
   height: calc(100% - 140px);
   background-image: url("../img/wallpaper.png");
   overflow-y: auto;
   display: none;
 }
 .chat-main.active {
   display: flex;
 }
.sent-message {
  background-color: #D5F9BA;
  padding: 12px 20px 12px 12px;
  margin: 5px 0;
  font-size: 1.25rem;
  border-radius: 5px;
  position: relative;
}

.answer {
  background-color: #EAEAEA;
  padding: 12px 20px 12px 12px;
  margin: 5px 0;
  font-size: 1.25rem;
  border-radius: 5px;
  align-self: flex-start;
  position: relative;
}

.sent-message span, .answer span {
  font-size: 0.7rem;
  color: #B7B9BB;
  position: absolute;
  bottom: 0;
  right:0;
  font-size: bold;
}

.sent-message i, .answer i {
  font-size: 0.9rem;
  color: #B7B9BB;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 5px;
  font-size: bold;
  opacity: 0;
  transition: all 0.2s;
}

.sent-message:hover i, .answer:hover i {
  opacity: 1;
}

.dropdown-menu {
  width: 180px;
  position: absolute;
  bottom: -50px;
  right: 0;
  height: 60px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #B7B9BB,
              -1px -1px 5px #B7B9BB;
  border-radius: 5px;
  font-size: 1rem;
  display: none;
  z-index: 999;
}

.answer .dropdown-menu{
  position: absolute;
  left: 0;
}

.dropdown-menu ul{
  list-style: none;
}
.dropdown-menu ul li {
 height: 30px;
 padding: 5px;
 cursor: pointer;
}

.dropdown-menu ul li:hover {
  background-color: #B7B9BB;
}

/* FOOTER */

main footer {

  font-size: 1.3rem;
  color: #6A7376;
}
main footer .emoji, main footer .record {
  width: 10%;
  text-align: center;
}
main footer .emoji i, main footer .record i {
  cursor: pointer;
}

main footer .input {
  height: 100%;
  width: 80%;
}

main footer #message {
  height: 100%;
  width: 92%;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 1.2rem;

}
main footer button {
  height: 100%;
  width: 8%;
  font-size: 1.2rem;
  background-color: #fff;
  border: 1px solid #fff;
  margin-left: -15px;
  border-radius: 10px;
  cursor: pointer;

}
